@page "/about"
@using BalzorValami.Client.Shared.Templates

<PageTitle>Rólunk - Valami blog</PageTitle>

<HalfedLayout Class="mt-8">
    <Main>
        <h1 class="mb-5">
            Bemutatkozó rólunk
        </h1>

        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit laudantium quia tenetur natus eos, totam exercitationem corrupti vero hic quisquam esse sed nam excepturi perferendis! Animi quas eius amet quam, eveniet saepe nostrum maxime sunt similique ut veniam, sequi ratione, dolor aspernatur iusto cupiditate recusandae? Iusto velit omnis, error beatae veniam, quibusdam culpa ipsa minus reiciendis vel repellendus placeat quia aperiam dicta odit illo voluptates nesciunt necessitatibus modi soluta ad vitae harum debitis aspernatur? Architecto, eligendi ab fugiat repudiandae nulla iusto voluptas. Consequuntur iste assumenda sequi quia unde aperiam eligendi. At nostrum quae tenetur cupiditate ducimus dolore optio porro odit quis aspernatur ratione, necessitatibus explicabo vitae, doloremque libero. Ea velit labore nihil. Perspiciatis exercitationem vel esse a. Magnam, voluptates voluptatem.
        </p>
    </Main>
    <Aside>
        <img src="images/team.jpg" loading="lazy" class="mt-11 rounded-xl" />
    </Aside>
</HalfedLayout>