<ul class="flex space-x-5">
    <li>
        <NavLink href="" Match="NavLinkMatch.All">
            Home
        </NavLink>
    </li>
    <li>
        <NavLink href="counter">
            Counter
        </NavLink>
    </li>
    <li>
        <NavLink href="about">
            About us
        </NavLink>
    </li>
    <li>
        <NavLink href="post">
            Cikkek
        </NavLink>
    </li>
    <li>
        <NavLink href="admin/post">
            Admin
        </NavLink>
    </li>
</ul>
