@page "/admin/post"
@using BalzorValami.Shared.Admin
@using BalzorValami.Client.Shared.Organisms

<div class="flex justify-between my-5">
    <h1>
        Eddigi posztok
    </h1>
    <NavLink href="/admin/post/edit" class="inline-block px-4 py-1 bg-blue-600 hover:bg-blue-900 text-white font-semibold rounded-md">
        Új poszt
    </NavLink>
</div>

<div class="space-y-3">
    <ShowPosts Href="api/admin/Post/Index" />
</div>
