<div class="flex gap-x-6 mt-8">
    <div class="w-3/4">
        @Main
    </div>
    <div class="w-1/4">
        @Aside
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment Main { get; set; }

    [Parameter]
    public RenderFragment Aside { get; set; }
}
